//
   Created with JetBrains WebStorm.
   User: andy
   Date: 13-5-9
   Time: 下午10:24
   To change this template use File | Settings | File Templates.

extends layout

block content
    if locals.user
        form#well.form-inline.center(method='post',action='/post', style='text-align: center;')
            input#span8(type='text', name='post')
            button#btn.btn-success(type='submit')
                i#icon-comment.icon-white
                发言
    for post in posts
       - var index = posts.indexOf(post)
       if index%3 == 0
           <div class='row'>
       .span4
           h2
               a(href='/u/'+post.user) #{post.user}
               说
           p
             small  #{post.time}
           p #{post.post}
       if index%3 == 2
            </div>
    else
            p no post!

